<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roommade.domain.preparation.mapper.PreparationMapper">

    <select id="findRirProfileByUserId"
            resultType="com.roommade.domain.preparation.dto.response.RirProfileResponse">
        SELECT
            monthly_income,
            monthly_rent_limit
        FROM user_profiles
        WHERE user_id = #{userId}
    </select>

</mapper>
