<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roommade.domain.policy.mapper.YouthPolicyMapper">
    <insert id="upsert">
        INSERT INTO youth_policy (
            policy_no, policy_name, policy_keyword, policy_description, support_content,
            provider_institution_code, provider_institution_name, zip_cd,
            application_start_date, application_end_date, application_period_text,
            application_method, application_url, reference_url, min_age, max_age,
            income_condition_code, min_income, max_income, income_condition_text,
            qualification, synced_at
        ) VALUES (
            #{policyNo}, #{policyName}, #{policyKeyword}, #{policyDescription}, #{supportContent},
            #{providerInstitutionCode}, #{providerInstitutionName}, #{zipCd},
            #{applicationStartDate}, #{applicationEndDate}, #{applicationPeriodText},
            #{applicationMethod}, #{applicationUrl}, #{referenceUrl}, #{minAge}, #{maxAge},
            #{incomeConditionCode}, #{minIncome}, #{maxIncome}, #{incomeConditionText},
            #{qualification}, #{syncedAt}
        ) AS new
        ON DUPLICATE KEY UPDATE
            policy_name = new.policy_name,
            policy_keyword = new.policy_keyword,
            policy_description = new.policy_description,
            support_content = new.support_content,
            provider_institution_code = new.provider_institution_code,
            provider_institution_name = new.provider_institution_name,
            zip_cd = new.zip_cd,
            application_start_date = new.application_start_date,
            application_end_date = new.application_end_date,
            application_period_text = new.application_period_text,
            application_method = new.application_method,
            application_url = new.application_url,
            reference_url = new.reference_url,
            min_age = new.min_age,
            max_age = new.max_age,
            income_condition_code = new.income_condition_code,
            min_income = new.min_income,
            max_income = new.max_income,
            income_condition_text = new.income_condition_text,
            qualification = new.qualification,
            synced_at = new.synced_at
    </insert>

    <select id="findYouthPolicyIdByPolicyNo" resultType="long">
        SELECT youth_policy_id
        FROM youth_policy
        WHERE policy_no = #{policyNo}
    </select>

    <delete id="deleteRegionsByYouthPolicyId">
        DELETE FROM youth_policy_region
        WHERE youth_policy_id = #{youthPolicyId}
    </delete>

    <insert id="insertRegions">
        INSERT INTO youth_policy_region (youth_policy_id, region_code, region_name, is_nationwide)
        VALUES
        <foreach collection="regions" item="region" separator=",">
            (#{youthPolicyId}, #{region.regionCode}, #{region.regionName}, #{region.nationwide})
        </foreach>
    </insert>

    <sql id="activePolicyCondition">
        <where>
            AND (yp.application_end_date IS NULL OR yp.application_end_date <![CDATA[>=]]> CURDATE())
            <if test="age != null">
                AND (yp.min_age IS NULL OR yp.min_age <![CDATA[<=]]> #{age})
                AND (yp.max_age IS NULL OR yp.max_age <![CDATA[>=]]> #{age})
            </if>
            <if test="income != null">
                AND (yp.min_income IS NULL OR yp.min_income <![CDATA[<=]]> #{income})
                AND (yp.max_income IS NULL OR yp.max_income <![CDATA[>=]]> #{income})
            </if>
            <if test="regionCode != null and regionCode != ''">
                AND EXISTS (
                    SELECT 1
                    FROM youth_policy_region ypr
                    WHERE ypr.youth_policy_id = yp.youth_policy_id
                      AND (ypr.region_code = #{regionCode} OR ypr.is_nationwide = TRUE)
                )
            </if>
        </where>
    </sql>

    <select id="findYouthPolicies" resultType="com.roommade.domain.policy.dto.response.YouthPolicyListResponse">
        SELECT yp.youth_policy_id,
               yp.policy_name,
               yp.policy_keyword,
               yp.provider_institution_name,
               yp.application_start_date,
               yp.application_end_date,
               CASE
                   WHEN yp.application_start_date IS NOT NULL AND yp.application_end_date IS NOT NULL
                       THEN CONCAT(DATE_FORMAT(yp.application_start_date, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(yp.application_end_date, '%Y-%m-%d'))
                   WHEN yp.application_start_date IS NOT NULL THEN CONCAT(DATE_FORMAT(yp.application_start_date, '%Y-%m-%d'), ' ~')
                   WHEN yp.application_end_date IS NOT NULL THEN CONCAT('~ ', DATE_FORMAT(yp.application_end_date, '%Y-%m-%d'))
                   ELSE yp.application_period_text
               END AS application_period,
               CASE WHEN yp.application_end_date IS NULL THEN NULL ELSE DATEDIFF(yp.application_end_date, CURDATE()) END AS d_day
        FROM youth_policy yp
        <include refid="activePolicyCondition"/>
        ORDER BY yp.application_end_date IS NULL, yp.application_end_date ASC, yp.youth_policy_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countYouthPolicies" resultType="long">
        SELECT COUNT(*)
        FROM youth_policy yp
        <include refid="activePolicyCondition"/>
    </select>

    <select id="findYouthPolicyById" resultType="com.roommade.domain.policy.dto.response.YouthPolicyDetailResponse">
        SELECT yp.youth_policy_id,
               yp.policy_name,
               yp.policy_keyword,
               yp.policy_description,
               yp.support_content,
               yp.provider_institution_name,
               yp.application_start_date,
               yp.application_end_date,
               CASE
                   WHEN yp.application_start_date IS NOT NULL AND yp.application_end_date IS NOT NULL
                       THEN CONCAT(DATE_FORMAT(yp.application_start_date, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(yp.application_end_date, '%Y-%m-%d'))
                   WHEN yp.application_start_date IS NOT NULL THEN CONCAT(DATE_FORMAT(yp.application_start_date, '%Y-%m-%d'), ' ~')
                   WHEN yp.application_end_date IS NOT NULL THEN CONCAT('~ ', DATE_FORMAT(yp.application_end_date, '%Y-%m-%d'))
                   ELSE yp.application_period_text
               END AS application_period,
               yp.min_age,
               yp.max_age,
               yp.min_income,
               yp.max_income,
               yp.income_condition_text,
               yp.qualification,
               yp.application_method,
               yp.application_url,
               yp.reference_url
        FROM youth_policy yp
        WHERE yp.youth_policy_id = #{youthPolicyId}
    </select>
</mapper>
